<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="{% url 'user:handle_excel' %} " method="post" enctype="multipart/form-data">
        <input name="images" type="file" id="upfile" />
        <img src="dfa/.jpg" alt="上传照片" title="">
        <p>上传文件,并上传需要读取的表</p>
        <input type="submit" value="提交">
        {% csrf_token %}
    </form>

    <input type="file" id="upfile" />
    <input type="button" onclick="readThis();" value="读取">
    <br>
    <textarea id="txtArea" cols=50 rows=10></textarea>

    <script>
        function readThis(){
            var tempStr = "";
            var filePath= document.all.upfile.value;
            var oXL = new ActiveXObject("Excel.application");
            var oWB = oXL.Workbooks.open(filePath);
            oWB.worksheets(1).select();
            var oSheet = oWB.ActiveSheet;
            try{
            for(var i=2;i<46;i++){
                if(oSheet.Cells(i,2).value =="null" || oSheet.Cells(i,3).value =="null" )
                break;
                var a = oSheet.Cells(i,2).value.toString()=="undefined"?"":oSheet.Cells(i,2).value;
                tempStr+=(" "+oSheet.Cells(i,2).value+
                " "+oSheet.Cells(i,3).value+
                " "+oSheet.Cells(i,4).value+
                " "+oSheet.Cells(i,5).value+
                " "+oSheet.Cells(i,6).value+"\n");
            }
        }catch(e){
        //alert(e);
        document.all.txtArea.value = tempStr;
        }
        document.all.txtArea.value = tempStr;
        oXL.Quit();
        CollectGarbage();
        }
    </script>
</body>

</html>


